<h1>My project</h1>

<article>
  <h1>
    <%= image_for @project %>
    <%= @project[:name] %>
  </h1>
  <p><%= @project[:description] %></p>
  <table style="text-align: left;">
    <tbody>
      <tr>
        <th>Pledge:</th>
        <td><%= number_to_currency(@project[:target_pledge_amount]) %></td>
      </tr>
      <tr>
        <th>Website:</th>
        <td><%= @project[:website] %></td>
      </tr>
      <tr>
        <th>Ends on:</th>
        <td><%= time_from_now(@project) %></td>
      </tr>
      <tr>
        <th>Team members:</th>
        <td><%= @project[:team_members] %></td>
      </tr>
      <tr>
        <th>Image file name:</th>
        <td><%= @project[:image_file_name] %></td>
      </tr>
    </tbody>
  </table>
</article>

<p>
  <%= link_to "Edit", edit_project_path(@project) %> |
  <%= link_to "Delete", project_path(@project), method: :delete, 
            data: { confirm: "Are you sure?" } %>
</p>
